<!--p *ngIf="username">Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbienvenue, {{ username }} !</p>
<p *ngIf="!username">Ccccccccccccccccccccccccccccccccccccccccccccccccccccccchargement...</p-->
    <div class="d-flex justify-content-between align-items-center my-4"  >
        <div class="titre">
          <h1>Liste des analyses</h1>
        </div>
        <button class="btn btn-add" title="Ajouter un laboratoire" (click)="openAddModal()" >
          <i class="bx bx-plus"></i> Ajouter Analyse
        </button>
      </div>
 
      <div *ngIf="analyses.length; else noData">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark text-center">
              <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let analyse of analyses">
                <td>{{ analyse.nom }}</td>
                <td>{{ analyse.description }}</td>
                <td class="text-center">
                  <button class="btn-icon edit-icon mx-1" title="Modifier" (click)="openEditModal(analyse)">
                    <i class="bx bx-edit-alt"></i>
                  </button>
                  <button class="btn-icon delete-icon mx-1" title="Supprimer" (click)="confirmerDesactivation(analyse.id)">
                    <i class="bx bx-trash"></i>
                  </button>
                  <button class="btn-icon add-icon mx-1" title="Voir Epreuves" (click)="navigateToCrudEpreuve(analyse.id)">
                    <i class="fa fa-info-circle"></i>
                  </button>
                  <button class="btn-icon add-icon mx-1" title="Voir Tests Analyse" (click)="navigateToCrudTestAnalyse(analyse.id)">
                    <i class="fa fa-info-circle"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>  
 
      <ng-template #noData>
        <p class="text-center text-muted mt-4">Aucune analyse à afficher.</p>
      </ng-template>
      
<!-- Modal pour Ajouter un laboratoire -->
<div class="modal" *ngIf="isAddModalOpen">
    <div class="modal-content">
      
      <!-- Étape 1 : Informations générales -->
      <div *ngIf="currentStep === 1">
        <h3 class="modal-title">Ajouter un nouveau Analyse</h3>
        <form>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" class="form-control" placeholder="Nom" [(ngModel)]="newAnalyse.nom" name="nom"  />
  
          </div>
          <input type="hidden" [(ngModel)]="username" name="username" />

      
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" placeholder="description" [(ngModel)]="newAnalyse.description" name="description"  />
          </div>
       
        </form>
        <div class="modal-footer">
          <button class="btn btn-primary"  (click)="goToNextStep()">Suivant</button>

        </div>
      </div>
  
      <!-- Étape 2 : Contact -->
      <div *ngIf="currentStep === 2">
        <h3 class="modal-title">Ajouter une nouvelle epreuve</h3>
        <form>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" class="form-control" placeholder="Nom" [(ngModel)]="newEpreuve.nom" name="nom"  />
          </div>
       
        </form>
        <div class="modal-footer">
          <button class="btn btn-secondary"  (click)="closeAddModal()">Annuler</button>
          
          <button class="btn btn-primary" (click)="goToNextStep()">Suivant</button>
          
        </div>
      </div>



      
<!-- Popup de confirmation -->
<div class="modal" *ngIf="isPopupVisible">
    <div class="modal-content">
      <h3>Succès !</h3>
      <p>L'epreuve a été enregistrée avec succès.</p>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="addAnotherEpreuve()">Ajouter une autre epreuve</button>
        
        <button class="btn btn-primary" (click)="addTestAnalyse()">Ajouter un test d'analyse</button>
        <button class="btn btn-danger" (click)="closeAddModal()">Fermer</button>
      </div>
    </div>
  </div>
  
      <!-- Étape 3 : TestAnalyse-->
      <div *ngIf="currentStep === 3">
        <form>
          <div class="form-group">
            <label for="nomTest">Nom Test</label>
            <input type="text" id="nomTest" class="form-control" placeholder="Nom Test"  [(ngModel)]="newTestAnalyse.nomTest" name="nomTest" required />
          </div>
          <div class="form-group">
            <label for="intervalMinDeReference">intervalMinDeReference</label>
            <input type="text" id="intervalMinDeReference" class="form-control" placeholder="intervalMinDeReference" [(ngModel)]="newTestAnalyse.intervalMinDeReference" name="intervalMinDeReference" required />
          </div>
          <div class="form-group">
            <label for="intervalMaxDeReference">intervalMaxDeReference</label>
            <input type="text" id="intervalMaxDeReference" class="form-control" placeholder="intervalMaxDeReference" [(ngModel)]="newTestAnalyse.intervalMaxDeReference"  name="intervalMaxDeReference" required />
          </div>
          <div class="form-group">
            <label for="Unité de réference">uniteDeReference</label>
            <input type="text" id="uniteDeReference" class="form-control" placeholder="uniteDeReference"  [(ngModel)]="newTestAnalyse.uniteDeReference" name="uniteDeReference" required />
          </div>
          <div class="form-group">
            <label for="details">Détails</label>
            <input type="text" id="details" class="form-control" placeholder="details" [(ngModel)]="newTestAnalyse.details"  name="details" required />
          </div>
          <div class="form-group">
            <label for="sousEpreuve">Sous Epreuve</label>
            <input type="text" id="sousEpreuve" class="form-control" placeholder="sousEpreuve" [(ngModel)]="newTestAnalyse.sousEpreuve"  name="sousEpreuve" required />
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="goToPreviousStep()">Précédent</button>
          <button class="btn btn-danger" (click)="closeAddModal()">Annuler</button>
          <button class="btn btn-primary" (click)="saveTestAnalyse()"  >Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Popup de confirmation -->
<div class="modal" *ngIf="isPopupVisibleTest">
    <div class="modal-content">
      <h3>Succès !</h3>
      <p>Test analyse a été enregistré avec succès.</p>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="addTestAnalyse()">Ajouter un autre test d'analyse</button>
        <button class="btn btn-danger" (click)="closeAddModal()">Fermer</button>
      </div>
    </div>
  </div>
<!-- Modal pour Modifier un laboratoire -->
<div class="modal" *ngIf="isEditModalOpen">
    <div class="modal-content">
      <h3 class="modal-title">Modifier l'analyse</h3>
      <form>
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" id="nom" class="form-control" [(ngModel)]="currentAnalyse.nom" name="nom" required />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" [(ngModel)]="currentAnalyse.description" name="description" required />
          </div>
      </form>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeEditModal()">Annuler</button>
        <button class="btn btn-primary" (click)="updateAnalyse()">Enregistrer</button>
      </div>
    </div>
  </div>
  
      