/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    position: relative;
    font-family: "Roboto", sans-serif;
    background: #f4f7fa;
    overflow-x: hidden;
  }
  table {
    width: 100%; /* Assure que la table s'adapte à l'écran */
    table-layout: auto; /* Gère automatiquement la largeur des colonnes */
}

.container {
    max-width: 100%; /* Limite le conteneur à la largeur de l'écran */
    overflow-x: hidden; /* Évite tout débordement horizontal */
}