<div class="d-flex justify-content-between align-items-center my-4">
  <div class="titre">
    <h1 class="text-center">Liste des utilisateurs</h1>
  </div>
  <button class="btn btn-add" (click)="openAddUserModal()"><i class="bx bx-plus"></i>Ajouter un utilisateur</button>
</div>

<div *ngIf="utilisateurs.length; else noData">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark text-center">
        <tr>
          <th>Nom complet</th>
          <th>Email</th>
          <th>Profession</th>
          <th>Téléphone</th>
          <th>Role</th>
          <th>Signature</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let utilisateur of utilisateurs">
          <td>{{ utilisateur.nomComplet }}</td>
          <td>{{ utilisateur.email }}</td>
          <td>{{ utilisateur.profession }}</td>
          <td>{{ utilisateur.numTel }}</td>
          <td>{{ utilisateur.role }}</td>
          <td>
            <img [src]="utilisateur.signature" alt="signature" class="img-thumbnail" width="70" height="70" *ngIf="utilisateur.signature">
          </td>
          
          <td class="text-center">
            <button class="btn-icon edit-icon mx-1" title="Modifier" (click)="openEditModal(utilisateur)">
              <i class="bx bx-edit-alt"></i>
            </button>
            <button class="btn-icon delete-icon mx-1" title="Supprimer"(click)="confirmerSuppression(utilisateur.email)">
              <i class="bx bx-trash"></i>
            </button>
          
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noData>
  <p class="text-center text-muted mt-4">Aucun utilisateur à afficher.</p>
</ng-template>

<!-- Modal for Adding User -->
<div class="modal" *ngIf="isAddUserModalOpen">
  <div class="modal-content">
    <h3 class="modal-title">Ajouter un nouvel utilisateur</h3>
    <form>
      <div class="form-group">
        <label for="email" >Email</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="newUser.email" name="email" />
      </div>
      <div class="form-group">
        <label for="nomComplet">Nom Complet</label>
        <input type="text" id="nomComplet" class="form-control" [(ngModel)]="newUser.nomComplet" name="nomComplet" />
      </div>
      <div class="form-group">
        <label for="profession">Profession</label>
        <input type="text" id="profession" class="form-control" [(ngModel)]="newUser.profession" name="profession" />
      </div>
      <div class="form-group">
        <label for="numTel">Numéro de Téléphone</label>
        <input type="text" id="numTel" class="form-control" [(ngModel)]="newUser.numTel" name="numTel" />
      </div>
      <div class="form-group">
        <label for="role">Rôle</label>
        <select id="role" class="form-control" [(ngModel)]="newUser.role" name="role">
          <option value="ROLE_TECHNICIEN">Technicien</option>
          <option value="ROLE_CHERCHEUR">Chercheur</option>
          <option value="ROLE_SUPERVISEUR">Superviseur</option>
        </select>
      </div>      
      <div class="form-group">
        <label for="motdepasse">Mot de Passe</label>
        <input type="password" id="motdepasse" class="form-control" [(ngModel)]="newUser.motdepasse" name="motdepasse" />
      </div>
      <div class="form-group">
        <label for="signature">Signature</label>
       <input type="file" id="signature" class="form-control" (change)="onSignatureSelected($event)" name="signature" accept="image/*" />
      </div>
      <div class="form-group">
        <label for="motdepasse">Laboratoire</label>
        <select 
        id="laboratoireId"
        class="form-control"
        (change)="onLaboratoireChange($event)"
      >
        <option value="" disabled selected>Veuillez sélectionner un laboratoire</option> <!-- Option vide -->
        <option *ngFor="let labo of laboratoires" [value]="labo.nom">{{ labo.nom }}</option>
      </select>
      
      </div>
      
      
      
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="addUser()">Ajouter</button>
        <button class="btn btn-secondary" (click)="closeAddUserModal()">Annuler</button>
      </div>
    </form>
  </div>
</div>  
<!-- Modal pour Modifier un utilisateur -->
<div class="modal" *ngIf="isEditModalOpen">
  <div class="modal-content">
    <h3 class="modal-title">Modifier l'utilisateur</h3>
    <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input 
  type="email" 
  id="email" 
  class="form-control" 
  [(ngModel)]="currentUtilisateur.email" 
  name="email" disabled
/>

        </div>
        <div class="form-group">
          <label for="nomComplet">Nom Complet</label>
          <input type="text" id="nomComplet" class="form-control" [(ngModel)]="currentUtilisateur.nomComplet" name="nomComplet" />
        </div>
        <div class="form-group">
          <label for="profession">Profession</label>
          <input type="text" id="profession" class="form-control" [(ngModel)]="currentUtilisateur.profession" name="profession" />
        </div>
        <div class="form-group">
          <label for="numTel">Numéro de Téléphone</label>
          <input type="text" id="numTel" class="form-control" [(ngModel)]="currentUtilisateur.numTel" name="numTel" />
        </div>
        <div class="form-group">
          <label for="role">Rôle</label>
          <select id="role" class="form-control" [(ngModel)]="currentUtilisateur.role" name="role">
            <option value="ROLE_TECHNICIEN">Technicien</option>
            <option value="ROLE_CHERCHEUR">Chercheur</option>
            <option value="ROLE_SUPERVISEUR">Superviseur</option>
          </select>
        </div>      
        <div class="form-group">
          <label for="motdepasse">Mot de Passe</label>
          <input type="password" id="motdepasse" class="form-control" [(ngModel)]="currentUtilisateur.motdepasse" name="motdepasse" />
        </div>
        <div class="form-group">
          <label for="signature">Signature</label>
          <img *ngIf="currentUtilisateur.signature" [src]="currentUtilisateur.signature" alt="Signature actuel" class="img-thumbnail" width="100" height="100" />
          <input type="file" id="signature" class="form-control" (change)="onFileSelected($event)"name="signature" />
        </div>
      <div class="form-group">
  <label for="laboratoireId">Laboratoire</label>
  <select
    id="laboratoireId"
    class="form-control"
    [(ngModel)]="currentUtilisateur.laboratoireId"
    name="laboratoireId"
  >
    <option value="" disabled>Veuillez sélectionner un laboratoire</option>
    <!-- Options des laboratoires -->
    <option 
      *ngFor="let labo of laboratoires" 
      [value]="labo.id"
      [selected]="labo.id === currentUtilisateur.laboratoireId"
    >
      {{ labo.nom }}
    </option>
  </select>
</div>

        
    </form>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="closeEditModal()">Annuler</button>
      <button class="btn btn-primary" (click)="updateUtilisateur()">Enregistrer</button>
    </div>
  </div>
</div>